/*BODY*/
*{
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }
  
body {
    background: #00454e;
    margin: 0px;
  }



  

/*TYPOGRAFI*/
@font-face{
    font-family: ProximaNovaA-Bold;
    src: url(../Fonts/ProximaNovaA-Bold.woff2);
}

@font-face {
    font-family: ProximaNovaA-Regular;
    src: url(../Fonts/ProximaNovaA-Regular.woff2);
}

h1 {
    font-family: ProximaNovaA-Bold;
    font-style: italic;
    font-size: 70px;
    text-align: center;
    color: #e4f1f0;
    margin: 0;
}

/*Kan H2 være overskrift for en sektion måske?*/

h3 {
    font-family: ProximaNovaA-Bold;
    color: #FFFFFF;
}

/*Dette skal nok lige justeres*/
p, ul, li, a, button {
    font-family: ProximaNovaA-Regular;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




/*ELEMENTER*/
button {
    background: #00454e;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-size: 20px;
}


/*FAST INDHOLD*/
/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 70px;
    margin: 0px 30px;
  }

#logo {
    height: 50px;
  }

nav ul {
    display: none;
    position: inherit;
  }

.ikon {
    height: 30px;
    margin: 10px;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px 40px 10px;
}
footer div {
    width: 250px;
}


/*SECTION*/
section {
background-color: #FFFFFF;
}

/*Intro*/

.sec-a{
position: relative;
text-align: center;
color: white;



}
.introbillede-1{
width: 100%;
height: 600px;
filter: brightness(45%);
}
.introparagraf{
color:white;
z-index: 10;
padding-bottom: 100px;
position: absolute;
top: 80px;
left: 135px;
font-size: 50px;


}



.section-1{
padding-bottom: 200px;
}



.sec-b{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
padding-top: 50px;
gap: 100px;
padding-left: 50px;
padding-right: 50px;




}
.billede-1{
width: 400px;
height: 400px;
margin-right: 50px;


}
.paragraf-1{
color: black;
width: 100%;
margin-left: 50px;
padding-top: 100px;




}


.sec-c{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
padding-top: 50px;
gap: 100px;
padding-left: 50px;
padding-right: 50px;
}



.billede-2{
width: 400px;
height: 400px;
margin-left: 50px;


}

.paragraf-2{
color: black;
width: 100%;
margin-right: 50px;
padding-top: 100px;
}



<style>
.introparagraf {
    font-size: 20px;
    font-weight: bold;
    color: #336699;
  }
  
  .introparagraf span {
    animation-name: change-text;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color:#00454e;
  }
  
  @keyframes change-text {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }