/*BODY*/
*{
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }
  
body {
    background: #00454e;
    margin: 0px;
  }



  

/*TYPOGRAFI*/
@font-face{
    font-family: ProximaNovaA-Bold;
    src: url(../Fonts/ProximaNovaA-Bold.woff2);
}

@font-face {
    font-family: ProximaNovaA-Regular;
    src: url(../Fonts/ProximaNovaA-Regular.woff2);
}

h1 {
    font-family: ProximaNovaA-Bold;
    font-style: italic;
    font-size: 70px;
    text-align: center;
    color: #e4f1f0;
    margin: 0;
}

/*Kan H2 være overskrift for en sektion måske?*/

h3, nav li a {
    font-family: ProximaNovaA-Bold;
    font-size: 25px;
    color: #FFFFFF;
}

/*Dette skal nok lige justeres*/
p, ul, li, a, button {
    font-family: ProximaNovaA-Regular;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




/*ELEMENTER*/
button {
    background: #00454e;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-size: 20px;
}


/*FAST INDHOLD*/
/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 70px;
    margin: 0px 30px;
  }

#logo {
    height: 50px;
  }

.ikon {
    height: 30px;
    margin: 10px;
}

nav ul {
  display: none;
  position: absolute;
  z-index: 1;
}

nav li {
  margin: 30px 0px;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px 40px 10px;
}
footer div {
    width: 250px;
}


/*SECTION*/

/*Intro*/
.section-1{
padding-bottom:  0;

}

.sec-a{
position: relative;
text-align: center;
color: white;
background-color: white;
height: 650px;




}
.introbillede-1{
width: 100%;
height: 700px;
filter: brightness(45%);
}
.introparagraf{
color:white;
z-index: 10;
padding-bottom: 100px;
position: absolute;
top: 250px;
left: 150px;
font-size: 50px;
z-index: 0; /*Gør at JS-teksten er under burger-menuen*/
}



.section-2{
  background: url(../images/baggrunducl.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(85%);
  padding-bottom: 200px;
  padding-top: 75px;


}
 .kb{
font-size: 50px;
color: #000000;
font-weight: bold;
padding-bottom: 75px;




}


.sec-b{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
padding-top: 50px;
gap: 100px;
padding-right: 50px;
}

.sec-b .h1aarsfest{
font-size: 70px;
color: #000000;
padding-top: 30px;


}

.section-2 h1{
  font-size: 70px;
  padding-top: 25px;
}

.billede-1{
width: 400px;
height: 400px;
margin-right: 50px;
-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.99);
-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.99);
box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.99);
}

.billede-1:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;

}

.paragraf-1{
color: #000000;
font-weight: bold;
width: 100%;
margin-left: 50px;
padding-top: 25px;

}



.sec-c{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
padding-top: 50px;
gap: 100px;
padding-right: 50px;
}

.sec-c .h1olstafet{
color: #000000;


}



.billede-2{
width: 400px;
height: 400px;
margin-left: 50px;
-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.99);
-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.99);
box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.99);


}

.billede-2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;

}

.paragraf-2{
color: #000000;
width: 100%;
margin-right: 50px;
padding-top: 25px;
}


.sec-d{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  gap: 100px;
  padding-right: 50px;
  }
  
  .sec-d .h1badminton{
  font-size: 70px;
  color: #000000;
  padding-top: 30px;

  
  
  }



/* Har lige gemt denne, fordi det lignede det ikke skulle være der ift. at skriften blev blå og meget mindre – men hvis jeg tager fejl, så bare slet :)
.introparagraf {
    font-size: 20px;
    font-weight: bold;
    color: #336699;
  }
  */
  
  .introparagraf span {
    animation-name: change-text;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-color:#00454e;
  }
  
  @keyframes change-text {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  /*Og så lukkede jeg lige den her nede, fordi min editor sagde der var en fejl, håber det er ok




  /* Arrangementer */

  .section1-arrangementer{
height: 500px;
background-color: white;
background: url(../images/baggrunducl.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(100%);
  padding-bottom: 200px;



  }
  
  .section1-arrangementer h1{
font-size: 90px;
color: black;
padding-top: 70px;


  }

  .arrangementer-paragraf1{
    display: block;
    font-size: 16px;

color: #000000;
width: 50%;
margin: auto;
margin-top: 50px;


  }


  .arrangementer-container1{
  margin-top: 30px;
display: flex;
flex-direction: center;
justify-content: center;


  }

.arrangementer-container1-2{
display: flex;
flex-direction: row;
justify-content: center;
gap: 75px;



}

.arrangementer-paragraf2 span{
  font-weight: bolder;


}

.arrangementer-paragraf2 {

width: 350px;
border-radius: 5px;
color: #000000;
margin-top: 0px;


}



.arrangementer-knap1{
  height:75px;
  width: 300px;
cursor:pointer;
border-radius: 10px;


}


.plusknap{
height: 30px;
width: 30px;
}




.section1-lillegap{
height: 50px;
background-color: #ffffff;


}

.arrangementer-populært{
background-color: #FAE76A;
width: 350px;
height: 50px;
margin-left: 125px;
margin-top: -55px;




}

.arrangementer-populært h2{
color: #00454E;
text-align: center;
font-size: 40px;





}


.section2-arrangementer{
height: 650px;




}




.arrangementer-billedecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.arrangementer-billedecontainer img{
height: 500px;
width: 700px;

}

.arrow {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}

.left::before {
  content: "\2190";
}

.right::before {
  content: "\2192";
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 20px;
}



.section3-arrangementer{
height: 1300px;
background-color: white;


}


.arrangementer-titel2{
font-size: 40px;
padding-top: 50px;
padding-left: 255px;
font-weight: 500; 

}


.container {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 100px;
  padding-right: 100px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  background-color: #E4F1F0;
  background: url(../images/baggrunducl.png) no-repeat center center fixed; 
}

.image {
  grid-row: 1 / 3;
  justify-self:center;
  margin-top: 25px;

}

.image img{
height: 300px;
width: 300px;
border: 5px #00454E solid
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

}
.content p{
color: black;
width: 80%;


}
.content h3{
  
}

button {
  grid-row: 2 / 3;
  width: 200px;
justify-content: center;
}
.content button{
justify-content: center;
margin-top: 100px;
margin-left: 200px;
height: 50px;
width: 200px;
border-radius: 10px;
margin-bottom: 50px;


}

.flueben{
height: 20px;
width: 20px;


}


.section4-arrangementer{
  background: url(../images/baggrunducl.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(100%);
    height: 200px;



}