/*BODY*/
*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
    background: url(../images/baggrunducl.png) repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(100%);
    height: 200px;
    margin: 0px;
}

/*TYPOGRAFI*/
@font-face{
    font-family: ProximaNovaA-Bold;
    src: url(../Fonts/ProximaNovaA-Bold.woff2);
    padding: 0;
}

@font-face {
    font-family: ProximaNovaA-Regular;
    src: url(../Fonts/ProximaNovaA-Regular.woff2);
    padding: 0;
}

nav a {
    text-decoration: none;
    font-family: ProximaNovaA-Bold;
    font-size: 25px;
    margin: 0px 40px;  
    color: white;

}

nav a:hover{
    color: #e4f1f0;
    font-size: 30px;
    
}

h1 {
    font-family: ProximaNovaA-Bold;
    font-style: italic;
    font-size: 60px;
    color:#00454e;
    text-align: center;
}

h2 {
    font-family: ProximaNovaA-Bold;
    font-style: italic;
    font-size: 30px;
    color:#00454e;
}

.cta h2 {
    background: #fae76a;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.gaest h2 {
    background: #9b3c7d;
    color: #FFFFFF;
}

p {
    font-family: ProximaNovaA-Regular;
    color:#00454e;
    padding: 20px;
    text-align:justify;
}

b {
    font-family: ProximaNovaA-Bold;
}

/*ELEMENTER*/
button {
    background: #00454e;
    padding: 20px 30px;
    border-radius: 7px;
    border-style: none;
    font-family: ProximaNovaA-Bold;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.cta button {
    background: #fae76a;
    color: #00454e;
}

.gaest button {
    background: #9b3c7d;
    color: #FFFFFF;  
}

/*HEADER*/
header {
    background: #00454e;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Dette er så nav'en sidder fast øverst, 
    men skal lige have kigget på det lidt mere, 
    da jeg tror banneret gør så det ikke virker:
    position: sticky;
    top: 0;
    */
}

nav {
    display: flex;
    align-items: center;
}

#logo {
    width: 172px;
    height: 60px;
}

#profil {
  margin: 0;
}

#soeg, #notif, #profil img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

#profil img {
    border-radius: 50%;
    border-style: none;
}

/*FORSIDE*/

    /*Banner*/
    #logo-ban {
        position: absolute;
        margin-top: 100px;
        z-index: 1;
        width: 372px;
        height: 130px;
    }

    .section-1{
        padding-bottom:  0;
        display: flex;
        justify-content: center;
    }
    
    .sec-a{
        position: relative;
        text-align: center;
        /*
        color: white;
        background-color: white;
        height: 650px;*/
    }

    .introbillede-1{
        width: 100%;
        height: 700px;
        filter: brightness(45%);
    }

    .introparagraf{
        font-family: ProximaNovaA-Bold;
        color:white;
        /*z-index: 10;*/
        padding-bottom: 100px;
        position: absolute;
        top: 250px;
        left: 100px;
        font-size: 45px;
        width: fit-content;
    }

    .introparagraf span {
        animation-name: change-text;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        background-color:#00454e;
      }
      
      @keyframes change-text {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }

      /*Velkomst*/
      #velkomst {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -50px;
        padding: 30px;
      }

      #velkomst div {
        position: relative;
        width: 350px;
        text-align: center;
      }

      #velkomst p {
        width: 100%;
        margin: 0;
      }



/*DIN VÆG*/

#vaeg div {
  background-color: #FFFFFF;
  margin: 10px 200px;
  padding: 30px;
}

#vaeg div div {
  margin: 0;
  padding: 0;
  display: flex;
}

.afsender {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.afsender div, .afsender p, .afsender h2 {
  flex-direction: column;
  width: auto;
  margin: 0 15px;
  padding: 0;
}

.afsender p {
  font-style: italic;
}

.vaeg-pb {
  width: 50px;
  height: 50px;
  border-style: none;
  border-radius: 50%;
}

.indhold {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 300px;
}

.indhold p {
  flex-basis: 60%;
  margin: 0;
  height: 200px;
  overflow: hidden;
}

.indhold img {
  width: 250px;
  height: 250px;
  margin: auto;
}

.some-icons {
  display: flex;
  justify-content: space-evenly;
}

.some-icons img {
  width: 20px;
  height: 20px;
}

.like:hover {
  content: url(../Images/Vaeggen/some-hea-fill.svg)
}

/*PROFIL*/
#cashbee {
  background: #FFFFFF;
  margin: 0 100px;
  border-radius: 7px;
  border-style: none;
  display: flex;
  justify-content: space-evenly;
}

#cashbee div {
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 50px;
}
#cashbee div p {
  width: inherit;
  margin: 25px 0;
  padding: 0;
}

#cashbee img {
  margin: 40px;
  width: 250px;
  height: 250px;
  border-style: none;
  border-radius: 50%;
}

#space {
  height: 200px;
}

/*LOGIN*/

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.login p, .login input {
  margin: 0 0 30px 0;
}

/*Glemt password*/
#glemt, .pass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pass {
  display: none;
  background: #fae76a;
  font-size: 25px;
}
    
#glemt:hover + .pass {
  display: flex;
}


/* Arrangementer *//* Arrangementer *//* Arrangementer *//* Arrangementer *//* Arrangementer *//* Arrangementer */
/*
.section1-arrangementer{
    height: 500px;
    background-color: white;
    background: url(../images/baggrunducl.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      filter: brightness(100%);
      padding-bottom: 200px;
    
      }

      /*
      .section1-arrangementer h1{
    font-size: 90px;
    color: black;
    padding-top: 70px;
      }
      
    
      .arrangementer-paragraf1{
        display: block;
        font-size: 16px;
    
    color: #000000;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    }
    */
    
    section p {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    }
    
    .arrangementer-container1{
  
    display: flex;
    flex-direction: center;
    justify-content: center;
    
    
      }
    
    .arrangementer-container1-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    margin-top: 30px;
    margin-bottom: 50px;
    
    
    
    }
    
    
    .arrangementer-paragraf2 span{
      font-weight: bolder;
    
    
    }
    
    .arrangementer-paragraf2 {
    border-radius: 5px;
   /* color: #000000; */
   margin-top: 0px;
   margin-left: 10px;
    
    
    }
    
    
    
    .arrangementer-knap1{
      height:75px;
      width: 300px;
    cursor:pointer;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    
    
    }
    .arrangementer-knap1 p{
      margin-bottom: 15px;
    
    }
    
    
    .plusknap{
    height: 30px;
    width: 30px;
    margin-left: 0px;
    }
    
    
    
    
    .section1-lillegap{
    height: 50px;
    background-color: #ffffff;
    
    
    }
    
    .arrangementer-populært{
    background-color: #FAE76A;
    width: 350px;
    height: 50px;
    margin-left: 125px;
    margin-top: -55px;
    
    
    
    
    }
    
    .arrangementer-populært h2{
    color: #00454E;
    text-align: center;
    font-size: 40px;
    
    
    
    
    
    }
    
    
    .section2-arrangementer{
    height: 650px;
    background-color:#00454e;
    
    }
    
    
    
    
    .arrangementer-billedecontainer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .arrangementer-billedecontainer img {
    height: 500px;
    width: 700px;    
    }
    
    .arrow {
      font-size: 30px;
      color: #ccc;
      cursor: pointer;
    }
    
    .left::before {
      /*content: "\2190";*/
      content: url(../Images/Arrangementer/arrow-l.svg);
    }
    
    .right::before {
      /*content: "\2192";*/
      content: url(../Images/Arrangementer/arrow-r.svg);
    }
    
    /*
    img {
      max-width: 100%;
      height: auto;
      margin: 0 20px;
    }
    */
    
    .section3-arrangementer{
    height: 1500px;
    background-color: white;
    margin-bottom: 100px;
    background: url(../images/baggrunducl.png) no-repeat center center fixed; 
    
    
    }
    
    
    .arrangementer-titel2{
    font-size: 40px;
    padding-top: 50px;
    padding-left: 255px;
    font-weight: 500; 
    
    }
    
    .container {
      display: grid;
      grid-template-columns: 1fr;
      padding-left: 100px;
      padding-right: 100px;
      gap: 20px;
    }
    
    .item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      background-color: #fff;
    }
    
    .image {
      grid-row: 1 / 3;
      justify-self:center;
      margin-top: 50px;
    
    }
    
    .image img{
    height: 300px;
    width: 300px;
    border: 5px #00454E solid
    }
    
    .content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    
    }
    .content p{
    /*color: black;*/
    width: 80%;
    
    
    }
    /*
    .content h3{
      
    }
    */
    
    button {
      grid-row: 2 / 3;
      width: 200px;
    justify-content: center;
    }
    .content button{
    justify-content: center;
    margin-top: 100px;
    margin-left: 200px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    
    
    }
    
    .flueben{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    
    
    }
    
    
    .section4-arrangementer{
      background: url(../images/baggrunducl.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: brightness(100%);
        height: 200px;
    
    
    
    }
    
    /* Arrangementer *//* Arrangementer *//* Arrangementer *//* Arrangementer *//* Arrangementer *//* Arrangementer */
    
    /* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort */
    
    .section1-campuskort{
    height: 1000px;
    /*
    background: url(../images/baggrunducl.png) no-repeat center center fixed; 
    */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(100%);
    }
    
    /*
    .campuskort-titel{
      font-size: 90px;
      color: black;
      padding-top: 70px;
    }
    */

    .campuskort-billede{
    height: 650px;
    width: 900px;
    padding-top: 50px;
    margin: auto;
    display: grid;
    place-items: center;
    
    }
    
    /* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort *//* Campuskort */
    /* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*/
    
    /*
    .section1-olstafet{
    height: 1000px;
    background: url(../images/baggrunducl.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(100%);
    
    }
    */
    
    /*
    .section1-olstafet h1{
      font-size: 90px;
      color: black;
      padding-top: 40px;
      padding-bottom: 40px;
    
    }
    */
    
    .olstafet-billede{
    height: 500px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    }
    
    
    .olstafet-container{
      display: flex;
     flex-wrap: wrap;
      margin-top: 50px;
      justify-content: center;
      gap: 250px;
    
    
    
    }
    
    /*
    .olstafet-information {
    
    }
    */
    
    
    .olstafet-information p{
    /*color: #000000;*/
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    }
    
    
    .olstafet-information2{
    padding-top: 20px;
    
    }
    
    .olstafet-information2 p{
    /*color: #000000;*/
    text-align: center;
    
    margin: 0;
    padding: 0;
    width: 100%;
    
    }
    
    .element4{
      height: 65px;
      width: 200px;
    cursor:pointer;
    border-radius: 10px;
    
    
    }
    
    .element1 span{
    white-space: pre;
    
    }
    
    .section2-olstafet{
    /*height: 800px;*/
    background-color: #ffffff;
    
    
    
    }
    
    .titel-omarrangementet{
     /*font-size: 40px;*/
      padding-top: 50px;
      padding-left: 255px;
      /*font-weight: 500; */
    
    }
    
    .omarrangementet-container{
      display: flex;
      justify-content: center;
    
    
    
    }
    /*
    
    .omarrangengementet-information{
      margin-left: 200px;
      margin-right: 200px;
      padding-top: 20px;
      padding-left: 75px;
      padding-right: 75px;
      height: 500px;
      background: url(../images/baggrunducl.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      filter: brightness(100%);
    
    }
    */
    .omarrangengementet-information p{
    /*color: #000000;*/
    margin-top: 0;
    }
    
    .omarrangengementet-information h3{
    color: #000000;
    font-size: 16px;
    
      
    }
    
    
    .section3-olstafet{
    height: 500px;
    background-color: #00454e;
    margin-top: 100px; /*Space mellem tekst og deltagerliste*/
    margin-bottom: 0px;
    
    }
    

/*DELTAGERLISTE*/

    .deltagerliste-olstafet{
      background-color: #FAE76A;
      width: 500px;
      height: 50px;
      margin-left: 125px;
      margin-top: -55px;
    
    }
    
    .deltagerliste-olstafet h2{
      color: #00454E;
      text-align: center;
      font-size: 40px;
    
      
    }
    
    .deltagerliste-container{ 
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 50px;
      


    }

    .deltagerliste-container p{
      color: #fff;
      margin-top: 0px;
      text-align: center;
      padding: 10px;
    }




    .deltager-liste-navne{
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      gap: 20px;
      margin-top: 50px;
    }


    .deltager-liste-navne img{
      height: 200px;
      width: 200px;


    }



    .plusknap2{
        height: 30px;
        width: 30px;
        margin-top: 10px;
    
    }
    
    /* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*//* Ølstafet*/



    /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer /* Footer */
    

    footer{
    height: 225px;
    background-color: #00454E;
    margin-top: 75px;



    }

    .footer-container{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: ProximaNovaA-Bold;
      margin-left: 25px;

    }

    .footer {
    text-decoration: none;

    }

    .footer-indhold{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;



    }


    .footer-indhold p{
      color: #fff;
      padding-top: 0px;


    }


    .footer-indhold h3{
      color: #fff;
      font-size: 30px;
      margin-top: 30px;
      margin-left: 19px;


    }



    .footer-indhold input{
      width: 200px;
      height: 30px;
      border-radius: 2px;
    }

      input {
        text-align: center;
      }
      
      ::-webkit-input-placeholder {
        text-align: center;
      }
      
      :-moz-placeholder {
        text-align: center;
      }
    

      .footer-liste1 a{
      color: #fff;
      text-decoration: 0;

      }

    .footer-liste2 button{
    background-color: #323232;
    margin-top: 25px;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    
  }

  .footer-liste3{
    background-color: #F2CAC1;
    color:#00454E


  }
  .footer-liste3 h3{
    color:#00454E


  }
  .footer-liste3 p{
    color:#00454E;
  }


  /*Opret event-side/*Opret event-side/*Opret event-side/*Opret event-side/*Opret event-side/*Opret event-side/*Opret event-side*/

  .event-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: ProximaNovaA-Bold;
  }

  .event-form {
    text-align: center;



  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #00454E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
  
  }
  

/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER/*PROFILER*/



.container-profil{
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 20px;
  margin-bottom: 100px;
  height: 465px;
  background-color: #00454E;
  border-radius: 30px;
  border: 10px solid #00454E;
  
  
  
  
  }
  .indhold-biblografi{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-right: 10px;
  margin-right: 0px;
  border-bottom: 2px solid #fff;

  
  }
  
  .indhold-biblografi h2{
  font-size: 30px;
  
  
  }

  .ommig-biblografi{
  background-color: #F2CAC1;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 0px; 

  }
  
  .paragraf-profil {
  margin-top: 0px;
  font-size: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 100%;
  color: #fff;
  }

  
  .indhold-biblografi img{
  height: 300px;
  width: 300px;
  border-radius: 200px;
 

  
  
  }
  
  
  
  .section2-andreas{
  background-color: #00454e;
  
  
  }

  .section2-andreas h2{
  color: #fff;
  margin-left: 250px;
  padding-top: 25px;

  }
  
  .arrangementer-andreastitel{
  padding-top: 50px;
  padding-left: 200px;
  
  }
  
/*OVERBLIK OVER TILMELDTE ARRANGEMENTER/*OVERBLIK OVER TILMELDTE ARRANGEMENTER/*OVERBLIK OVER TILMELDTE ARRANGEMENTER/*OVERBLIK OVER TILMELDTE ARRANGEMENTER*/


  .tilmeldte-arrangementer{


  }

  .tilmeldte-liste{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #fff;
  }


 
  .liste p{
  color: #fff;
  padding-top: 0px;
  margin-top: 0px;
  
  
  }

  .liste img{
  height: 300px;
  width: 300px;


  }